.FilterForm {
  display: flex;
  gap: 20px;
  padding: 15px;
  width: 100%;

  align-items: flex-end;
  justify-content: center;

  @media (max-width: 800px) {
    flex-direction: column;
  }


}

.formField {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;

  &>label {
    display: flex;
    font-size: 12px;
  }

  &>select,
  &>input {
    padding: 5px 15px;
    width: 100%;
  }


}

.buttonsWrapper {
  display: flex;
  gap: 15px;
}

.button {
  padding: 5px 15px;
}
